@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root{
    --red:#FF4F5B;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .3s cubic-bezier(.16,.8,.62,1.52);
}

*::selection{
    background:var(--red);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.3rem;
}

html::-webkit-scrollbar-track{
    background: #000;
}

html::-webkit-scrollbar-thumb{
    background: var(--red);
}

body{
  background:#f9f9f9;
  align-items: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:1rem 4rem;
    border-radius: 5rem;
    background:var(--red);
    color:#fff;
    overflow: hidden;
    position: relative;
    z-index: 0;
    font-size: 1.7rem;
}

.btn::before{
    content:'';
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background:#444;
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
    transition:.3s linear;
}

.btn:hover::before{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.heading{
    font-size: 3rem;
    color:#666;
}

.heading span{
    color:var(--red);
}


header{
    width:100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    padding:2.5rem 7%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 2.5rem;
    color:#666;
}

header .logo span{
    color:var(--red);
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li{
    margin-left: 2.5rem;
}

header .navbar ul li a{
    color:#999;
    font-size: 2rem;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:var(--red);
    border-bottom: .2rem solid var(--red);
    padding:.7rem 0;
}

#menu{
    font-size: 3rem;
    color:#999;
    cursor: pointer;
    display: none;
}

.beranda{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.beranda .image{
    flex:1 1 40rem;
}

.beranda .image img{
    width:100%;
}

.beranda .content{
    flex:1 1 40rem;
}

.beranda .content span{
    color:var(--red);
    font-size: 2.5rem;
}

.beranda .content h3{
    color:#666;
    font-size: 5rem;
}

.beranda .content p{
    color:#999;
    font-size: 2rem;
    padding:1rem 0;
}
/**/

.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: #049372;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.info_box{
    width: 540px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info_box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info-list{
    padding: 15px 30px;
}

.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info-list .info span{
    font-weight: 600;
    color: #049372;
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #049372;
    transition: all 0.3s ease;
}

.quiz_box{
    width: 550px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    color: #049372;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #049372;
}

section{
    padding: 25px 30px 20px 30px;
    background: #fff;
    padding:0 7%;
    padding-top: 5rem;
}

section .que_text{
    font-size: 25px;
    font-weight: 600;
}

section .option_list{
    padding: 20px 0px;
    display: block;   
}

section .option_list .option{
    background: #a2ded0;
    border: 1px solid #a2ded0;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option:hover{
    color: #049372;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

section .option_list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

section .option_list .option.disabled{
    pointer-events: none;
}

section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #049372;
    border: 1px solid #049372;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background: #1e824c;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .icon{
    font-size: 100px;
    color: #049372;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #049372;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #fff;
    background: #049372;
}

.buttons button.restart:hover{
    background: #1e824c;
}

.buttons button.quit{
    color: #049372;
    background: #fff;
}

.buttons button.quit:hover{
    color: #fff;
    background: #049372;
}


/**/

.pencegahan .heading{
    text-align: center;
    padding:25rem;
}

.pencegahan .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pencegahan .box-container .box{
    background:#fff;
    border:.1rem solid rgba(0,0,0,.1);
    padding:2rem;
    margin:2rem;
    width:34rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    text-align: center;
}

.pencegahan .box-container .box img{
    height: 17rem;
    width:17rem;
}

.pencegahan .box-container .box h3{
    font-size: 2.5rem;
    color:#666;
    padding:1rem 0;
}

.pencegahan .box-container .box p{
    font-size: 1.4rem;
    color:#999;
    padding:.5rem;
}

.pencegahan .box-container .box:hover{
    transform:translateY(-1rem);
}

.form{
    width:300px;
    height:270px;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(50vh - 140px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative
}
h2{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#78788c;
    border-bottom:3px solid #78788c
}
input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2
}
input:focus{
    border-bottom:2px solid #78788c
}

button{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s
}
button:hover{
    background:#78788c;
    color:#fff
    margin-top: 100px;
}

video, .mejs-treehouse {
    margin-top: 120px;
}

.container {
  z-index: 1;
  width: 70%;
  margin: 0 auto;
    border-radius: 24px;
    background: #F6F5F0;
    padding: 2%;
    box-shadow: 0px 10px 6px -8px rgba(0,0,0,0.75);
}
.board {
    column-count: 3;
    column-gap: 1rem;
}
.container h2 {
    margin: 0 0 30px;
    text-align: center;
}
img#flag {
    height: 20px;
    width: 20px;
}
.card {
    width: 84%;
    background: #ccc;
    padding: 8%;
    margin-bottom: 20px;
    border-radius: 6px;
    color: #fff;
}
.card.a {
    background: #41a7ff;
}
.card.cr {
    background: #ff3434;
}
.card.r {
    background: #32b336;
}
.card.ca {
    background: #d83f3f;
}
.card.d {
    background: #ff0053;
}
.card.t {
    background: #ffa501;
}
.card h5 {
    margin: 0;
    font-size: 1rem;
}
.card span {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 4px;
}
.card i {
    font-size: 3rem;
}

/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

}

@media (max-width:768px){

    #menu{
        display: block;
    }

    header .navbar{
        position: fixed;
        top:8rem; left:-120%;
        height: 100%;
        width:100%;
        background:#eee;
        border-top: .2rem solid rgba(0,0,0,.1);
    }

    header .navbar ul{
        flex-flow: column;
        padding:2rem;
    }

    header .navbar ul li{
        text-align: center;
        width:100%;
        margin:1rem 0;
    }

    header .navbar ul li a{
        display: block;
        padding:1rem;
    }

    header .navbar ul li a.active,
    header .navbar ul li a:hover{
        padding:1rem;
        background:var(--red);
        color:#fff;
        border:none;
        border-radius: 5rem;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle{
        left:0;
    }

    .beranda .content{
        text-align: center;
    }

    .prevent .row:last-child{
        flex-flow: column-reverse;
    }

}

@media (max-width:500px){

    html{
        font-size: 50%;
    }

    section{
        padding:0 3%;
        padding-top: 9rem;
    }

}